{% extends 'base.html' %}
 
{% block content %}

 {% if category_articles %}  

<h1>{{ cats }}</h1>

    <ui>
    {% for article in category_articles %}
        <li><a href = "{% url 'article-detail' article.pk %}">{{ article.title }}</a> -
            
            {{ article.author.first_name}}
            {{ article.author.last_name}} - 
            {{ article.post_date }} <small>

        {% if user.is_authenticated %}
            -<a href="{% url 'update_article' article.pk %}">(Edit)</a>

                <a href="{% url 'delete_article' article.pk %}">(Delete)</a>
        
        {% endif %}
    </small> <br/>
     
        {{article.body|slice:":200"|safe }}</li>

    {% endfor %}
    </ui>
{% else %}
    <h3>Sorry this page does not exist</h3>
{% endif %}


 {% endblock %}